/*
    Author: Cory Fugate
    Date: 12/1/15
*/

/*** reset css ***/
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog,footer, header, hgroup, menu, nav, section {display:block;}
body {  line-height: 1.5;}
a img { border: none; }
:focus { outline: 0; }
/*** end reset ***/

body{
    background: url('images/noisy.png');
    border-top: 30px solid #2c3e50;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #2c3e50;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin:auto;
    padding: 0 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

/*******************************************
* Header
********************************************/
.header h3 {
  margin-top: 50px;
  color: #95a5a6;
  line-height: 1.1;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header h1 {
  margin-top: 8px;
  font-family: 'Merriweather', serif;
  line-height: 1;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 62px;
}

.header h2 {
  line-height: 1.2;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.header p {
  color: #95a5a6;
  font-style: italic;
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.nativity-img {
  margin: auto;
  height: 300px;
  max-height: 300px;
  width: 90%;
  background-image: url('images/nativity.jpg');
  background-position: center;
  background-size: cover;
}

.action-buttons {
  text-align: center;
  margin-top: 20px;
}

a.main-action-btn, a.main-action-btn:visited {
  display: inline-block;
  background-color: #C62127;
  transition: background-color 0.3s;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 10px;
  min-width: 230px;
}

a.main-action-btn:hover {
  background-color: #A71015;
}

.manual-subscribe {
  display: inline-block;
  font-size: 14px;
  margin-top: 40px;
}

.mini-link {
  font-size: 14px;
}


/*******************************************
* Nav
********************************************/
nav {
  width: 100%;
  background-color: #ecf0f1;
  padding: 15px 0 25px;
  margin-top: 30px;
  text-align: center;
}

.jump-to-date{
  text-align: center;
  line-height: 1;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px 50px 3px;
  background-color: #166293;
  display: inline-block;
  color: #fff;
  opacity: 0.8;
}


/*try flexbox layout here*/
nav ul{
  display: block;
  list-style: none;
}

nav li {
  display: inline;
}

nav li a {
  width: 34px;
  font-size: 12px;
  display: inline-block;
  padding: 4px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  color: #2980b9;
  border: 1px solid #e5e5e5;
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.3;
  border-radius: 3px;
  background-color: #f5f5f5;
}

nav ul li a:active {
  border-color: #166293;
}

nav li a:visited {
  color: #2980b9;
}

#backToTop {
  display: none;
}

#backToTop a {
  color: #fff;
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 10px;
  background-color: #2980b9;
  opacity: 0.5;
}


/*******************************************
* Talks
********************************************/
.talks {
  float: left;
  margin-bottom: 60px;
}

.talk {
  border-top: 1px solid #e6e6e6;
  margin: 50px 0 0 0;
  padding: 50px 0 0 0;
  float: left;
  width: 100%;
}
.talk img{
  margin: 0 35px 0 20px;
  width: 142px;
  float: left;
}

.talk .right-col{
  display: table;
}

.talk .date {
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding: 7px 20px 5px;
  background-color: #34495e;
  display: inline-block;
  color: #fff;
  opacity: 0.35;
}

.talk h2 {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 1.2;
}

.talk .speaker {
  font-size: 18px;
  margin: 5px 0 22px 0;
  line-height: 1.2;
}

.talk .speaker span:first-of-type{
  margin-right: 4px;
}

.talk .date-given {
  color: #ababab;
  font-style: italic;
  display: inline-block;
}

.talk a {
  font-weight: 400;
  text-decoration: none;
  color: #2980b9;
  font-size: 18px;
}
.talk a:active { opacity: 0.5; }
.talk a::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 7px;
  right: -7px;
  position: relative;
  top: -2px;
  width: 7px;
  transform: translateX(0) rotate(45deg);
  transition: transform 0.5s
}

#nov26 {
  border-top: none;
  margin-top: 0;
}

/*******************************************
* Christmas Day
********************************************/
.talk.christmas {
  border-top: 7px solid #e6e6e6;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.talk.christmas img{
  width: 300px;
}

.talk.christmas img.for-mini{
  display: none;
  float: none;
}

.talk.christmas .date, .talk.christmas .speaker, .talk.christmas a  { font-size: 24px; margin-bottom: 30px; }
.talk.christmas .date{ background-color: #C62127; opacity: 1; display: block; text-align: center;}
.talk.christmas h2 { font-size: 40px; }
.talk.christmas a{ font-size: 21px;}

@media screen and (max-width: 750px) {
  .talk.christmas .speaker, .talk.christmas a, .talk.chrismas h2, .talk.christmas .right-col {text-align: center; display: block;}
  .talk.christmas .speaker{margin-bottom: 10px;}
  .talk.christmas img {display: none;}
  .talk.christmas img.for-mini{display: block; margin: auto;}
}


/*******************************************
* Media Queries
********************************************/
@media screen and (min-width: 601px) {
  nav ul li a:hover {
    background-color: #2980b9;
    color: white;
  }

  nav ul li a:active {
    background-color: #166293;
  }

  .talk a:hover::after{ transform: translateX(8px) rotate(45deg); }
}

@media screen and (max-width: 600px) {
  .container {
    width: 96%;
  }

  .header h1{ font-size: 50px;}
  .header h2{ font-size: 21px;}
  .header h3{ font-size: 13px; margin-top: 25px;}
  .nativity-img {height: 250px;}

  .talk img{
    margin: 0 15px 0 15px;
    width: 100px;
  }
  .talk h2 { font-size: 24px; }
  .talk .speaker { font-size: 14px; margin-bottom: 10px;}

  .talk a {
    font-size: 16px;
  }

  .talk a::after {
    width: 6px;
    height: 6px;
  } 

  .talk.christmas a {
    width: 278px;
    margin: 30px auto 30px;
  }
}

@media screen and (max-width: 420px) {
  .header h1{ font-size: 42px; }
  .header h2{ font-size: 18px; margin-bottom: 20px;}
  .header h3{ font-size: 11px; margin-top: 20px; letter-spacing: 3px;}
  .nativity-img {height: 180px;}

  .talk img{
    width: 80px;
  }
}


/*******************************************
* Sources & Footer
********************************************/
.sub-footer {
  width: 100%;
  background-color: #ecf0f1;
  padding: 40px 0;
  margin-top: 30px;
  text-align: center;
  clear: both;
  font-size: 12px;
  color: #95a5a6;
}

.subscribe {
  word-wrap: break-word;
  margin-bottom: 40px;
}

.subscribe h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #777;
}

.sources {
  font-style: italic;
  padding-top: 40px;
  line-height: 1.3;
  border-top: 1px solid #e6e6e6;
}

a, a:visited {
  color: #2980b9;
}

footer {
  clear: both;
  min-height: 100px;
  background-color: #2c3e50;
}

footer p{
  font-size: 12px;
  color: #fff;
  padding-top: 40px;
}
