/* 
    Document   : style.css
    Created on : Jun 26, 2012, 7:45:27 PM
    Author     : ckfugate
    Description:
        Stylesheet for commm 462 portfolio project
*/

/****** General ******/
root { 
    display: block;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/furley_bg.png');
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 100.1%;
    color: #333;
    text-shadow: 1px 1px 1px #EEE;
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    margin: auto;
}

a{
    color: #27AAE1;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px dashed #006dcc;
}

div.photobox > div {
    min-height: 500px;
}

/****** Header & Nav ******/

#header{
    margin: -20px 0 0 0;
    height: 120px;
}

#header h1 img{
    position: relative;
    top: 30px;
    border: none;
    box-shadow: none;
    margin: 0 10px 0 0;
}

#header h1 a, #header h1 a:visited, #header h1 a:active, #header h1 a:hover {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #dedede;
    font-size: 40px;
    font-weight: normal;
    border: none;
}

#header h1 a span, #header h1 a:visited span, #header h1 a:active span, #header h1 a:hover span {
    color: #27AAE1;
    text-decoration: none;
    font-weight: bold;
}

#header h1{
    float: left;
    margin:0;
}

nav{
    float:right;
    margin-top: 50px;
    position: relative;
}

nav ul li{
    display: inline;
    list-style: none;
    margin-left: 30px;

}

nav ul li ul{
    display: none;
    background-color: #fff;
    padding: 10px 15px 10px 5px;
}

nav ul li ul li{
    display: block;
    padding: 5px 0;
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav ul li ul li:hover{


}

nav ul li ul li a{
    text-shadow: none;
}

nav ul #portfolionav:hover ul{
    display: block;
    position: absolute;
    width: 150px;
    z-index: 500;
    right: 5px;
    top: 45px;
    box-shadow: 1px 2px 2px #808080;
    border: 1px solid #ccc;
}

nav ul #portfolionav{
    padding: 10px 15px 10px 20px;
    margin: 0px -15px 0px 10px;
}

nav ul #portfolionav:hover {
    background-color: #ccc;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    text-shadow: 1px 1px 1px #dedede;
}

nav ul li a:hover{
    color: #0082DC;
}


/****** Content ******/

#content{
    clear:both;
    border-bottom: 1px solid #808080;
}

div.photobox{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #CCCCCC;
    padding: 15px 0;
    margin-bottom: 30px;
}

div.photobox>div{
    background-color: #f5f5f5;
    margin: 0 15px;
    padding: 20px;
}

div.photobox h2{
    background-image: url('../images/pgheader.png');
    height:90px;
    width: 362px;
    position: relative;
    right: 62px;
    padding: 25px 0 0 60px;
    text-shadow: none;
    color: #fff;
    font-size: 54px;
    font-weight: normal;
    margin-top: -20px;
}

h3{
    color: #27AAE1;
    font-size: 24px;
    margin-top: 10px;
}

#splash{
    position: relative;
    right: 20px;
}

div.intro{
    background-image: url(../images/toolcup.png);
    background-repeat: no-repeat;
    height: 400px;
    padding-left: 155px;
    margin-top: 60px;
    position: relative;
}

div.intro #andsign{
    left: 465px;
    position: absolute;
    top: 45px;
}

div.intro h2{
    color: #0082DC;
    text-transform:uppercase;
    font-size: 22px;
    letter-spacing: 7px;
    margin-bottom: 10px;
}

div.intro div.leftcol {
    width: 50%;
    float: left;
}

div.intro div.leftcol h3{
    background-image: url('../images/designtitle.png');
    background-repeat: no-repeat;
    height: 65px;
    text-indent: -9999em;
}

div.intro div.leftcol li{
    list-style-image: url(../images/paintbullet.png);
    font-size: 18px;
    height: 35px;
}

div.intro div.rightcol {
    width: 50%;
    float: right;
}

div.intro div.rightcol h3{
    background-image: url('../images/developtitle.png');
    background-repeat: no-repeat;
    height: 65px;
    text-indent: -9999em;
}

div.intro div.rightcol li{
    list-style-image: url(../images/gearbullet.png);
    font-size: 18px;
    height: 35px;
}


/****** Resume ******/
.resume div.photobox>div{
    height: 1000px;
}

#skillschart{
    margin-bottom: 25px;
}

#column1{
    width: 45%;
    float: left;
    margin-right: 10%;
}

#column2{
    width: 45%;
    float: right;
}

.reslogo{
    height: 50px;
    width: 50px;
    margin-bottom: 0px;
}

.resume h4{
    padding-top: 10px;
}
.resume h5{
    font-weight: normal;
    margin-bottom: 30px;
}

.resume article{
    margin-bottom: 20px;
}

.resume article ul{
    list-style-type:square;
    margin-top: 10px;
    padding-left: 15px;
}

.resume article img{
    float: left;
    margin: 0 10px 10px 0;
    border: 7px solid white;
    box-shadow: 1px 1px 6px #ccc;
}

/***** Bio *****/
.bio .photobox img{
    float: left;
    margin: 0 20px 10px 0;
    border: 10px solid white;
    box-shadow: 1px 1px 6px #ccc;
    -ms-transform:rotate(-1deg); /* IE 9 */
    -moz-transform:rotate(-1deg); /* Firefox */
    -webkit-transform:rotate(-1deg); /* Safari and Chrome */
    -o-transform:rotate(-1deg); /* Opera */

}

.bio .photobox h2{
    margin-bottom: 30px;
}

.bio .photobox p{
    padding: 10px 0 0px 0;
    line-height: 22px;
}


/***** Contact *****/
.contact div.photobox>div{
    height: 675px;
}
fieldset{
    border: none;
}

label{
    font-weight: normal;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input{
    width: 100%;
    border: 1px solid #27AAE1;
    height: 30px;
    font-size: 18px;
    box-shadow: 1px 1px 2px #E5E5E5 inset;
    padding: 0 5px;


}

input:focus{
    box-shadow: 1px 1px 4px #CCC inset;
}

textarea{
    width: 100%;
    border: 1px solid #27AAE1;
    font-size: 16px;
    box-shadow: 1px 1px 2px #E5E5E5 inset;
    padding: 5px;
    font-family: Ubuntu;
    width: 100%;
    height: 175px;

}
#subject{
    width: 100%;
}

#security{
    width: 50px;
}

span.tiny{
    font-size: 75%;
    font-weight: normal;
}

#btnMessage {
    float: left;
    margin-top: 20px;
    display: inline-block;
    background-image: url('../images/sendmessage.png');
    width: 237px;
    height: 40px;
    border: none;
    text-indent: -9999em;
}

#btnMessage:hover{
    background-position: 0 -40px;
    cursor: pointer;
}

#btnMessage:active{
    background-position: 0 -80px;
}

#sec{
    float: left;
}

#btnlabel{
    display:none;
}

div.alert{
    border-radius: 5px;
    color: #000;
    padding: 10px;
    font-size: .9em;
    color: #FFF;
    text-shadow: none;
    box-shadow: 1px 1px 3px #CCC;
    margin-top: 140px;
}

div.alert p{
    padding: 5px 0px 5px 0px;
}

.errors{
    background-color: #F10A10;
}

.success{
    background-color: #56AC56;
}

.social ul li{
    list-style: none;
    display: block;
    float: left;
    margin: 10px 30px 0 0;
    
}

.social a{
    background-repeat: no-repeat;
    height: 82px;
    width: 83px;
    display: block;
    padding-bottom: 5px;
}

a.fb{
    background-image: url('../images/ico_fb.png');
}

a.twitter{
    background-image: url('../images/ico_twitter.png');
}

a.linkedin{
    background-image: url('../images/ico_linkedin.png');
}


/****** Portfolio *******/
.portfolio div#content ul{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.portfolio div#content ul li{
    list-style: none;
    float: left;
    position: relative;
}

.portfolio div#content ul li.leftside{
    margin-right: 30px;
}

.portfolio div#content ul li img{
    margin: 0 10px 10px 0;
    border: 7px solid white;
    box-shadow: 1px 1px 6px #ccc;
    transition: top 1s, box-shadow .25s;
    -moz-transition: top 1s, box-shadow .25s;
    -webkit-transition: top 1s, box-shadow .25s;
    -o-transition: top 1s, box-shadow .25s;
}

.portfolio div#content ul li a:hover{
    border-bottom: none;
}

.portfolio div#content ul li a:hover img{
    position: relative;
    top: -1px;
    box-shadow: 4px 4px 12px #aaa;
}

.portfolio div.photobox>div{
    height: 675px;
}

.portfolio h3{
    background-image: url('../images/portheader.png');
    background-repeat: none;
    height:47px;
    width: 235px;
    position: absolute;
    left: -18px;
    top: 115px;
    padding: 13px 0 0 40px;
    text-shadow: none;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    margin-top: -20px;
    z-index: 600;
}

/****** Product *******/
.product #content h2{
    font-size: 38px;
    padding-top: 35px;
    background-repeat: no-repeat;
}

.product #content img.photoborder{
    margin: 0 10px 10px 0;
    border: 10px solid white;
    box-shadow: 1px 1px 6px #ccc;

}

.product #content img{
    box-shadow: 1px 1px 6px #ccc;
}


/****** Logo, Web, Print ******/
.logo img, .web img, .print img{
    margin: 10px 10px 10px 0;
    border: 7px solid white;
    box-shadow: 1px 1px 6px #ccc;
}

#content .radionut img{
    margin: 20px 5px 0 0;
}

.logo h3:first-of-type, .web h3:first-of-type, .print h3:first-of-type{
    margin-top: 20px;
    border-top: none;
}
.logo h3, .web h3, .print h3{
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px dashed;
}


/****** Footer ******/
#footer{
    background-image: url('../images/denim.jpg');
    height: 125px;
    color: #ccc;
    text-shadow: none;
    border-top: 1px solid #808080;
    clear: both;
}

#footer .copyright{
    float: right;
    margin-top: 15px;
}

#footer .copyright a:hover{
    border-color: #fff;
}
#footer div.container{
    border: none;
}

#footer ul{
    margin: 40px 0 0 0;
    padding: 0;
}

#footer ul li{
    display: inline;
    list-style: none;
    font-size: 12px;
}

#footer ul li.comm462 {
    display: block;
    font-weight: 300;
    color: #707070;
    margin-top: 2px;
}

#footer ul li a{
    text-decoration: none;
    color: #ccc;
}

#footer ul li a:hover{
    color: #fff;
}

#footer .social a{
    background-repeat: no-repeat;
    height: 49px;
    width: 50px;
    display: block;
    padding-bottom: 5px;
    float: left;
    margin-right: 15px;
}

#footer  a.fb{
    background-image: url('../images/ico_fb_sm.png');
}

#footer  a.twitter{
    background-image: url('../images/ico_twitter_sm.png');
}

#footer  a.linkedin{
    background-image: url('../images/ico_linkedin_sm.png');
}


