/*** Carousel Styling ***/

#choosephoto{
    width: 830px;
    position: relative;
    height: 210px;
}

.jcarousel-skin .jcarousel-container {
    border: 1px solid #CCC;
}

.jcarousel-skin .jcarousel-container-horizontal {
    width: 800px;
}

.jcarousel-skin .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:  725px;
    height: 175px;
    margin: auto;
}

.jcarousel-skin .jcarousel-item {
    float: left;
    list-style: none;
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: 24px 8px;
    border: 2px solid #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.jcarousel-skin .jcarousel-item div {
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/*---Images Selectable in carousel---*/
.jcarousel-skin .ui-selecting {
    border: 2px solid #F48C67;
}

.jcarousel-skin .ui-selected{
    border: 2px solid #F48C67;
    box-shadow: 0px 0px 2px #EF5B26;
}

.jcarousel-skin .ui-unselecting {
    box-shadow: none;
}

.jcarousel-skin .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*---Arrow Buttons on carousel---*/
.jcarousel-skin .jcarousel-next-horizontal{
    height: 35px;
    width: 30px;
    background-color: #333;
    border: 1px solid #000;
    opacity: .6;
    background: url('../images/bottomgradient.png');
    background-position: 0 -5;
    z-index: 1;
    position: absolute;
    top: 70px;
    right: 5px;
    box-shadow: 1px 1px 6px #CCC;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

.jcarousel-skin .jcarousel-next-horizontal div{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #FFF;
    position: absolute;
    top: 7px;
    left: 11px;
}

.jcarousel-skin .jcarousel-prev-horizontal{
    height: 35px;
    width: 30px;
    background-color: #333;
    border: 1px solid #000;
    opacity: .6;
    background: url('../images/bottomgradient.png');
    background-position: 0 -5;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 5px;
    box-shadow: 1px 1px 6px #CCC;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

.jcarousel-skin .jcarousel-prev-horizontal div{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #FFF;
    position: relative;
    top: 7px;
    left: 8px;
}

.jcarousel-skin .jcarousel-next-horizontal:hover, .jcarousel-skin .jcarousel-prev-horizontal:hover {
    opacity: .8;
    cursor: pointer;
}

.jcarousel-skin .jcarousel-next-horizontal:active, .jcarousel-skin .jcarousel-prev-horizontal:active {
    opacity: .7;
    box-shadow: 0px 0px 5px #000 inset;
}

.jcarousel-skin .jcarousel-next-disabled-horizontal,
.jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-next-disabled-horizontal:active,
.jcarousel-skin .jcarousel-prev-disabled-horizontal,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: .1;
    box-shadow: none;
}