/*
    Document   : style
    Created on : Jan 29, 2011, 1:45:49 PM
    Author     : ckfugate
    Description: Basic Stylesheet for coryfugate.com
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


*{
    padding: 0px;
    margin: 0px;
}

font-family: 'Lobster', cursive;
font-family: 'Arvo', serif;

nav, footer, section {
    display: block;
}

h2, h3, h4, h5, p {
    padding-top: 20px;
}

p {
    padding-bottom: 20px;
}

body{
    background-color: #000000;
    color: #333333;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    border-top:#333333 2px solid;
}

/* FORMATING FOR HEADER AND NAV */

h1 span{
    display: none;
}
h1 {
    float: left;
}

/**************** Header **********************/
#header div{
    max-width: 1200px;
    min-width: 950px;
    width: 80%;
    margin: auto;
}

#header {
    background-color: #000000;
    padding-top: 20px;
    height: 115px;
    border-bottom: 2px solid #73BAFF;
}


/**************** Navigation ******************/
nav{
    height: 45px;
    padding-top: 40px;
    float: right;
}

nav li, footer li {
    display:inline-block;
    margin-left:20px;
    padding:0;
    list-style:none;
}

nav li a{
    font-family: Arvo, Tahoma;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
    height: 30px;
    background-image: url('../images/linkscribble.png');
    background-position: 0 -30px;
    background-repeat: no-repeat;
}

nav a[title~=Home] {
    text-indent: -3px;
}

nav a[title~=Resume]{
    margin-left: 14px;
    text-indent: -14px;
}

nav a[title~=Portfolio]{
    margin-left: 25px;
    text-indent: -25px;
}

nav a[title~=Contact]{
    margin-left: 20px;
    text-indent: -20px;
}

nav a[title~=Home]:hover,
nav a[title~=About]:hover,
nav a[title~=Portfolio]:hover,
nav a[title~=Resume]:hover,
nav a[title~=Contact]:hover{
    background-position: 0 0px;
}

/***when link is current page ***/
.home a[title~=Home],
.portfolio a[title~=Portfolio],
.resume a[title~=Resume],
.contact a[title~=Contact]{
    background-position: 0 0px;
    cursor: default;
}

.home a[title~=Home]:hover,
.portfolio a[title~=Portfolio]:hover,
.resume a[title~=Resume]:hover,
.contact a[title~=Contact]:hover{
    background-position: 0 0px;
}


/**************** Content Styling ******************/


#content{
    clear: both;
    /*border-top: #3C3C3C solid 1px;*/
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    min-height: 525px;
}

.portfolio #content{
    height: 2300px;

}

.portfolio #content article ul li{
    padding-left: 0px;
    font-size: .8em;

}

#content>div{
    max-width: 1200px;
    min-width: 950px;
    width: 80%;
    margin: auto;
}

#content div.col1 {
    width: 50%;
    float: left;
}

#content div.col2{
    width: 50%;
    float: right;
}

#content h2{
    font-family: Lobster, serif;
    font-size: 2em;
    font-weight: normal;
    color: #399CE2;
    background-image: url('../images/headingscribble.png');
    background-repeat: no-repeat;
    height: 40px;
    padding-top: 0;
    margin-left: -5px;
    text-indent: 5px;
}

#content a, #content a:visited{
    color: #399CE2;
    text-decoration: none;
    font-weight: normal;
}

#content a:hover {
    text-decoration: underline;
}

#content li{
    padding-left: 15px;
    list-style: none;
}

/******** Homepage ********/
.home #content span.hey{
    font-family: Lobster, serif;
    color: #399CE2;
    font-size: 3.5em;
}

.intromessage{
    background-image: url('../images/introscribble.jpg');
    background-repeat: no-repeat;
    height: 310px;
    margin: 0px 0px 0px -30px;
    padding: 5px 0px 0px 30px;
    width: 500px;
}

.home #content p{
    width: 500px;
    clear: left;
    float: left;
    font-size: 1.1em;
    line-height: 2em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

section.social{
    width: 530px;
    margin-top: 15px;
}

section.social ul{
    margin: 10px 0px 10px 35px;
}

.social a{
    background-image: url('../images/socialsprite-large.png');
    display: inline-block;
    height: 79px;
    width: 79px;
    opacity: 1;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.social a:hover{
    opacity: .75;
}

.social a.fb{
    background-position: 0px -1px;
}

.social a.twitter{
    background-position: -81px 0px;
}
.social a.linkedin{
    background-position: -159px 0px;
}
.social a.mail{
    background-position: 79px 0px;
}
.social li{
    display: inline-block;
}
.social span.flourish{
    margin-left: 190px;
    display: inline-block;
    height: 25px;
    width: 83px;
    background-image: url('../images/flourish.png');
}

#content section.featurelink{
    clear: both;
    padding: 60px 80px;
    float:right;
    width: 275px;
}

#content section.featurelink a {
    color: #000;
    text-decoration: none;
    font-family: Lobster;
    font-size: 30px;
    opacity: 1;
}

#content section.featurelink a:hover{
    text-decoration: underline;
}

#content section.featurelink a span{
    display: inline-block;
    position: relative;
    top: 7px;
    margin: 5px 0px 0px 10px;
    height: 40px;
    width: 86px;
    background-image: url('../images/pointer.png');
}


/********Portfolio Style ********/
.portfolio article h3{
    font-family: Arvo, Tahoma;
}

.portfolio article h3 span{
    color: #A9A9A9;
    font-size: .8em;
    font-weight: normal;
    margin-left: 5px;
}

.portfolio article p:nth-child(4){
    padding: 0;
    margin: 0;
}

#column1{
    width: 46%;
    float: left;
    padding-right: 8%;

}

#column2{
    float: right;
    width: 46%;
}

article {
        height: 200px;
	border-top: 1px #999999 solid;
	margin-top: 30px;
	margin-bottom: 30px;
}

article p{
	font-size: .8em;
        padding-top: 12px;
}

article img{
    float: left;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    /*border: 2px #333333 solid;*/
    -webkit-box-shadow: 1px 1px 3px #9F9F9F;
    box-shadow: 1px 1px 3px #9F9F9F;

}

/*************** Resume ******************/
.resume #content{
    height: 1000px;
}
.resume h3{
    font-family: Arvo, Tahoma;
    color: #399CE2;
}

#skillschart {
    margin-left: -35px;
    box-shadow: none;
    border-radius: none;
    
}

.resume #column1 li span{
    color: #a0a0a0;
}

.resume #column1 li, .resume #column2 li {
    margin: 0px 0px 10px 20px;
    list-style: square;
    padding-left: 5px;
}

.resume article{
    margin: 0px 0px 20px 0px;
    padding-bottom: 10px;
    height: auto;
}

.resume article img{
    float: left;

}

.resume article h4{
    font-family: Arvo, Tahoma;
}

.resume article h5{
    font-family: Arvo, Tahoma;
    color: #a0a0a0;
    font-weight: normal;
    padding-top: 5px;
}

.resume article ul{
    font-size: .9em;
    clear: both;
}


/************Contact page style ******************/
.contact #column2{
    float: right;
    width: 450px;
}

.contact #content{
    height: 650px;
}

.contact #column2 .social ul{
    margin: 0;
}

.contact h3{
    font-family: Arvo, Tahoma;
    font-size: 24px;
    color: #399CE2;
}

fieldset{
    border: none;
}

label{
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input{
    width: 400px;
    border: 1px solid #399CE2;
    height: 30px;
    font-size: 18px;
    box-shadow: 1px 1px 2px #E5E5E5 inset;
    padding-left: 5px;


}

input:focus{
    box-shadow: 1px 1px 4px #CCC inset;
}

textarea{
    width: 100%;
    border: 1px solid #399CE2;
    font-size: 16px;
    box-shadow: 1px 1px 2px #E5E5E5 inset;
    padding-left: 5px;
    font-family: tahoma;
}
#subject{
    width: 100%;
}

#security{
    width: 100px;
}

span.tiny{
    font-size: 75%;
}

#btnMessage {
  float: right;
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #FFF;
  width: 250px;
  height: 35px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #006dcc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s;
    -moz-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
}

#btnMessage:hover{

    background-color: #0051B6;
}

#sec{
    float: left;
}

#btnlabel{
    display:none;
}

div.alert{
    border-radius: 5px;
    color: #000;
    padding: 10px;
    font-size: .9em;
    color: #FFF;
    box-shadow: 1px 1px 3px #CCC;
    margin-top: 40px;
}

div.alert p{
    padding: 5px 0px 5px 0px;
    font-family: Arvo, Tahoma;
    font-size: 16px;
}

.errors{
    background-color: #F10A10;
}

.success{
    background-color: #56AC56;
}


/*FOOTER STYLE*/
footer{
    color: #777777;
    border-top: #3C3C3C solid 1px;
    clear:both;
    font-size: .75em;
    background-color: #000000;
    padding-top: 20px;
    height: 50px;
}


footer div{
    max-width: 1200px;
    min-width: 950px;
    width: 80%;
    margin: auto;
}

footer a{
    color: #FFF;
    text-decoration: none;
}

footer a:hover{
    color: #3C3C3C;
}

footer ul, footer li{
    margin: 0;
    padding: 0;
}

table, td {
    border: 1px solid #000;
}

td {
    padding: 3px;
}

/*-----------------------Image Carousel---------------------*/
#content section.portpreview{
    float: right;
    width: 450px;
    position: relative;
    height: 310px;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 1px 1px 3px #DDD;
}

#content section.portpreview h3{
    font-family: Arvo, Tahoma;
    text-transform: uppercase;
    color: #399CE2;
    position: absolute;
    z-index: 6;
    font-size: 26px;
    top: -7px;
    left: 25px;
}

.jcarousel-skin .jcarousel-container {
    border: none;
}

.jcarousel-skin .jcarousel-container-horizontal {
    width: 400px;
    height: 260px;
    background-image:url('../images/scribblebg.jpg');
    margin: 25px;
    padding-top: 5px;
}

.jcarousel-skin .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:  350px;
    height: 225px;
    margin: 15px auto 0px auto;
}

.jcarousel-skin .jcarousel-item {
    float: left;
    list-style: none;
    width: 350px;
    height: 225px;
    padding: 0px;
    margin-left: -15px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.jcarousel-skin .jcarousel-item div {
    width: 350px;
    height: 225px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/*---Arrow Buttons on carousel---*/
.jcarousel-skin .jcarousel-next-horizontal{
    height: 130px;
    width: 50px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    position: absolute;
    top: 70px;
    right: -76px;
    box-shadow: 1px 1px 3px #DDD;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

.jcarousel-skin .jcarousel-next-horizontal div{
    width: 37px;
    height: 90px;
    margin: 12px 0px 0px 2px;
    position: absolute;
    top: 7px;
    left: 5px;
    opacity: .85;
    background-image: url(../images/arrows.png);
    background-position: -40px 0px;
     -moz-transition: opacity .25s;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
}

.jcarousel-skin .jcarousel-prev-horizontal{
    height: 130px;
    width: 50px;
    border: 1px solid #000;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    position: absolute;
    top: 70px;
    left: -76px;
    box-shadow: 1px 1px 3px #DDD;
     -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

.jcarousel-skin .jcarousel-prev-horizontal div{
    width: 37px;
    height: 90px;
    margin: 12px 0px 0px -3px;
    position: relative;
    top: 7px;
    left: 8px;
    opacity: .85;
    background-image: url(../images/arrows.png);
    background-position: 0px 0px;
     -moz-transition: opacity .25s;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
}

.jcarousel-skin .jcarousel-next-horizontal div:hover, .jcarousel-skin .jcarousel-prev-horizontal div:hover {
    opacity: 1;
    cursor: pointer;
}

.jcarousel-skin .jcarousel-next-horizontal:active, .jcarousel-skin .jcarousel-prev-horizontal:active {
    opacity: 1;
    box-shadow: 0px 0px 1px #DDD inset;
}

.jcarousel-skin .jcarousel-next-disabled-horizontal div,
.jcarousel-skin .jcarousel-next-disabled-horizontal:hover div,
.jcarousel-skin .jcarousel-next-disabled-horizontal:focus div,
.jcarousel-skin .jcarousel-next-disabled-horizontal:active div,
.jcarousel-skin .jcarousel-prev-disabled-horizontal div,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover div,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:focus div,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:active div {
    cursor: default;
    opacity: .5;
    box-shadow: none;
}

/*--- Carousel label ---*/
.jcarousel-skin div.worklabel{
    background-color: #000000;
    height: 30px;
    opacity: 0.75;
    position: relative;
    top: -30px;
    z-index: 10;
}

.jcarousel-skin div.worklabel h4{
    color: #FFF;
    font-size: 10px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    padding: 9px;
}


#jswarning {
    font-size: 12px;
    font-family: Arvo, inherit;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    background-color:#F10A10;
    box-shadow: 2px 2px 2px #ccc;
    width: 300px;
    margin: auto;
}


