@charset "UTF-8";
/* CSS Stylesheet for COMM 310 Project 
   Big Jud's Redesign
   2/25/11
   Cory Fugate 	
*/


*{
    margin: 0;
    padding: 0;
}

body {
	background-image: url("strawtile.jpg");
	font-family: Tahoma, Geneva, sans-serif;	
	
}

header, nav, section, footer{
	display:block;
}

header {
	width: 100%;
	background-image: url("strawtile.jpg");
	height: 75px;
}

header div{
	width: 900px;
	margin: auto;
}

h1 {
	display: inline;
	float: left;
	margin-left: -14px;
}

h1 span{
	display: none;	
}

nav {
	margin-top: 35px;
	display:inline;
	float: right;
}
nav li{
	list-style: none;
	display: inline-block;
	padding-left: 10px;
		
}

#wrap{
background-image: url("woodtile.jpg");
padding: 35px;

}

#content{
	width: 900px;
	height: 450px;
	background-image: url("images/bighalfburger.jpg");
	background-position:right;
	background-repeat:no-repeat;
	margin: 50px auto 25px auto;
	background-color: white;
	
}

#content h2, h3 {
	padding-top: 20px;
	padding-left: 20px;
	color: #C4161C;
}

#content p{
	padding-left: 20px;
}

#content h4{
	padding-left: 20px;
	padding-top:15px;
}

#content h6{
	font-weight: normal;
	padding-left: 20px;	
}

#content ul{
	list-style: none;
	padding-top: 20px;
	padding-left: 20px;	
}

#content li{
	display: inline-block;
	margin: 10px;	
}

#content a{
	text-decoration: none;
	background-color: #C4161C;
	color: white;
	 border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 3px 5px 3px 5px;
	box-shadow: 1px 1px 1px #666;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    -o-box-shadow: 1px 1px 1px #666;
}

#content a:hover{
	box-shadow: 0px 0px 0px #666;
    -moz-box-shadow: 0px 0px 0px #666;
    -webkit-box-shadow: 0px 0px 0px #666;
    -o-box-shadow: 0px 0px 0px #666;
	
}

#menunav {
	width: 650px;	
}

#menu {
	margin-top: 20px;
	margin-left: 20px;
	border: solid 3px #C4161C;
	border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	height: 240px;
	width: 555px;
}






#handle{
	display: block;
	height: 435px;
	width: 669px;	
	background-image: url("images/canyouhandle2.jpg");
	text-indent: -9999em;
	position: relative;
	top: 15px;
}

/*************************** NAV ***************************/

nav a[title~=Home]{
	text-indent: -9999em;
	display: block;
	width: 86px;
	height: 36px;
	background-image: url("images/homenav.png");	
}

nav a[title~=Home]:hover,
nav a[title~=Locations]:hover,
nav a[title~=Menu]:hover,
nav a[title~=Contact]:hover {
	opacity: .8;
	
}




/*
nav a[title~=Home]:hover{
	opacity: .8;
		background-image: url("images/homenavh.png");
}*/

nav a[title~=Locations]{
	text-indent: -9999em;
	display: block;
	width: 115px;
	height: 36px;
	background-image: url("images/locationsnav.png");	
}

/*
nav a[title~=Locations]:hover{
	background-image: url("images/locationsnavh.png");	
}*/

nav a[title~=Menu]{
	text-indent: -9999em;
	display: block;
	width: 84px;
	height: 36px;
	background-image: url("images/menunav.png");	
}
/*
nav a[title~=Menu]:hover{
	background-image: url("images/menunavh.png");	
}*/


nav a[title~=Contact]{
	text-indent: -9999em;
	display: block;
	width: 101px;
	height: 36px;
	background-image: url("images/contactnav.png");	
}
/*
nav a[title~=Contact]:hover{
	background-image: url("images/contactnavh.png");	
}*/

footer {
	width: 100%;
	background-image: url("strawtile.jpg");
	height: 40px;
	color: #000;
}

footer h5{
	font-weight: normal;	
}

footer div{
	width: 900px;
	margin: auto;
}

.right
